@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #0D262D;
    color:#ffffff
}

.edge{
    display: flex;
    justify-content: center;    
    margin:0 auto;
    

}
.container{
    display:flex;    
    Padding:40px 
}


.align{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 10px;
}

.display, .key, .history-list{
    margin: 0px 0px 10px 5px;
    border: solid 5px #ffffff;
    border-radius: 5px;

}
.display{         
    min-height: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px
}

.display-text1 input {
    font-size: 20;
}

.display-text2 input {
    font-size: 40;
}



input{    
    background-color: transparent;
    border: none;
    color:#ffffff;
    text-align: right;
    width: 100%;    
}


.keys-lines{
    display:flex;
}

.key-text {
    display:flex;
    justify-content: center;
    margin:10px; 
    font-size:30px; 
    font-weight: 200;    
 }


.key { 
    width: 100%;
    background-color: #b1820f;            
    padding: 20px 0px;    
}
.key:hover{
    background-color: #e2b22a;  
}
.key:active{
    background-color: #bce2c8
}

.history-list {    
    width: 250px;       
    min-height:200px;
    padding:10px
}

#content{
    margin-top:5px;
    text-align: right;
}

.history-title {
    text-align: center;
    font-size:2 0;
    font-weight: 300;
    
}

@media (max-width: 1100px) {
    .conteiner{
        display:block
    }



}