
body{
    font-family: 'Open Sans', sans-serif;
}
.edge{
    display: flex;
    justify-content: center;
    margin:0 auto;
    

}
.conteiner{
    display:flex;
    background-color:#f1f3f4;
}
.display{
    border: solid 1px #ebebeb;  
    border-radius: 5px;
    min-height: 100px;
    position: relative;
    display:flex;  
    justify-content: space-between;  
 
}

.display-input{
    display: flex;  
    align-items: flex-end;  
    margin-right:20px     
}

.display-input input, input:active {
    border: none;
    background-color:transparent;
}

.display-text input {
    font-size: 40px;
    text-align: right;
}
.icon-display{
    margin: 10px;    
}

.icon-display img{
    color: #ebebeb;
    width: 50px;
    height: auto;
}
.key-text {
    display:flex;
    justify-content: center;
    margin:10px; 
    font-size:30px; 
    font-weight: 200;
 }

.key { 
    width: 100px;
    background-color: #dadce0;
    border-radius: 5px;    
    margin:10px;
    padding: 40px;    
}
.key:hover{
    background-color: #ffffff;  
}
.key:active{
    background-color: #bce2c8
}

h1,h2{
    font-weight:200
}

.history-list {
    border: solid 1px #ebebeb;
    width: 300px;
    text-align: center;

}

@media (max-width: 1100px) {
    .conteiner{
        display:block
    }



}