@font-face {
    font-family: 'Oswald';
    src: url('./../fonts/Oswald-Regular.ttf') format('truetype');
}

:root{
    --neutral1: #ffffff;
    --neutral2: #f7f6df;
    --neutral3: #e2e1c8;
    --neutral4: #3e3e3e;
    --primary: #F6F28A;
    --secundary: #B489F5;
}

*{
    box-sizing: border-box;
    color: var(--neutral4)
}

body{   
    font-family: 'Oswald', sans-serif; 
}


.calc-content{
    width:70%;
}
    
.content{
margin: 0px auto;
max-width: 500px;
}

.wrap{
    display:flex;               
    width:100%;
    margin-top:40px;
}

.border{
    margin: 0px 0px 2px 2px;    
    border-radius: 2px;
}

.painel{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--neutral2);
}

.icon img{
    width: 25px;
    margin-left:20px;
    transition: opacity 0.3s;
}

.icon img:hover{
    opacity:0.5;
}

.display{        
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.display-text1 input {
    font-size: 20;
}

.display-text2 input {
    font-size: 40;
}

input{    
    background-color: inherit;
    border: none;    
    text-align: right;
    width: 100%;    
}

.keybox{
    display:flex;    
}

.key { 
   background-color: var(--neutral3);            
   width: 100%;   
   padding: 20px;
   transition: background-color 0.3s;    
}

.key:hover{
    background-color:var(--primary);  
}

.key:active{
    opacity: 0.5;
}

.key-text { 
    text-align:center;
    font-size:25px;         
 } 


.history-list {    
    width: 30%; 
    padding:10px;
    background-color:var(--neutral2);    
}

#content{
    margin-top:5px;
    text-align: center;
}

.history-title {
    text-align: center;
    font-size: 18;
    font-weight: 300;       
}

@media(max-width:560px){
    .wrap{
        margin:10px 0;
        flex-direction: column;
        height: 100vh;                     
    }

    .calc-content{        
        width:100%;
    }

    .history-list{
        margin-top:10px;
        width:100%;   
        height:100%;     
    }
}

