@font-face {
    font-family: 'Oswald';
    src: url('./../fonts/Oswald-Regular.ttf') format('truetype');
}

:root{
    --neutral1: #ffffff;
    --neutral2: #f7f6df;
    --neutral3: #e2e1c8;
    --neutral4: #3e3e3e;
    --primary: #F6F28A;
    --secundary: #B489F5;
}

*{
    box-sizing: border-box;
    color: var(--neutral4)
}

body{   
    font-family: 'Oswald', sans-serif; 
}


.calc-content{
    width:70%;
}
    
.content{
margin: 0px auto;
max-width: 500px;
}

.wrap{
    display:flex;               
    width:100%;
    margin-top:40px;
}

.border{
    margin: 0px 0px 2px 2px;    
    border-radius: 2px;
}

.painel{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--neutral2);
}

.icon img{
    width: 25px;
    margin-left:20px;
    transition: opacity 0.3s;
}

.icon img:hover{
    opacity:0.5;
}

.display{        
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.display-text1 input {
    font-size: 1.0rem;
}

.display-text2 input {
    font-size: 1.5rem;
}

input{    
    background-color: inherit;
    border: none;    
    text-align: right;
    width: 100%;    
}

.keybox{
    display:flex;    
}

.key { 
   background-color: var(--neutral3);            
   width: 100%;   
   padding: 20px 15px;
   transition: background-color 0.3s;    
}

.key:hover{
    background-color:var(--primary);  
}

.key:active{
    opacity: 0.5;
}

.key-text { 
    text-align:center;
    font-size:1.0rem;         
 } 


.history-list {    
    width: 30%; 
    padding:10px;
    background-color:var(--neutral2);    
}

#content{
    margin-top:5px;
    text-align: center;
}

.history-title {
    text-align: center;
    font-size: 0.9rem;         
}

@media(max-width:560px){
    .wrap{
        margin:0;
        padding: 5px;
        flex-direction: column-reverse;
        min-height: 100vh;
        background-color: var(--neutral2)                     
    }

    .calc-content{        
        width:100%;
    }

    .history-list{ 
        width:100%;
        margin-bottom: 0;
        height:100%;   
        opacity: 0.4;     
    }

    #content{
        text-align: right;  
        vertical-align: top;
        font-size:1.5rem;
    }

    .history-title{
        display:none;
    }

    .display-text2 input {
        font-size: 2rem;
    }
}

